{% extends "base.html" %}

{% block content %}
<h2>Add a new review</h2>
<div class="container">

    <p>Review things here!</p>

    {% if session['username'] %}
        <br>
        <p>Hello {{ session['username'] }}</p>


        <a href="/add"><button>Add review</button></a>
 
    {% endif %}

</div>

<br>

<table class="guess_table">

    <thead>
        <th>Date</th>
        <th>User who reviewed</th>
        <th>Game</th>
        <th>Review</th>
        <th>Score</th>
        <th>Delete</th>
    </thead>

    <tbody>
        {% for guess in guesses %}
        <tr>
            <td>{{ guess['date'] }}</td>
            <td>{{ guess['username'] }}</td>
            <td>{{ guess['game'] }}</td>
            <td>{{ guess['review']}}</td>
            <td>{{ guess['score'] }}</td>
            <td><input type="button" onclick="delete(id)" value="delete" /></td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}